

<h3 class="p-3 text-center"></h3>
<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>ID Garage</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let garage of garages" (click)="selectGarage(garage)">
      <td>{{garage.idGarage}}</td>
      <td>{{garage.name}}</td>
    </tr>
    </tbody>
  </table>
  <div>
    <button (click)="addGarage()">Add Garage</button>
    <button (click)="deleteGarage()">Delete Garage</button>
    <button (click)="showDetails()">Show Details</button>
    <button (click)="refreshGarages()">Refresh Garage</button>
  </div>
</div>

  <div *ngIf="detailsForm">
    <div class="container">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>ID Truck</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Capacity</th>
          <th>Status</th>
          <th>ID Garage</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let truck of garageWithDetails.truckDTOList">
          <td>{{truck.idTruck}}</td>
          <td>{{truck.brand}}</td>
          <td>{{truck.model}}</td>
          <td>{{truck.capacity}}</td>
          <td>{{truck.status}}</td>
          <td>{{truck.idGarage}}</td>
        </tr>
        </tbody>
      </table>
  </div>
    <div class="container">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>ID Driver</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Salary</th>
          <th>Age</th>
          <th>Status</th>
          <th>ID Garage</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let driver of garageWithDetails.driverDTOList">
          <td>{{driver.idDriver}}</td>
          <td>{{driver.name}}</td>
          <td>{{driver.surname}}</td>
          <td>{{driver.salary}}</td>
          <td>{{driver.age}}</td>
          <td>{{driver.status}}</td>
          <td>{{driver.idGarage}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
  </div>

  <div *ngIf="addForm" class="mt-3">
    <form (submit)="saveNewGarage()">
      <div class="form-group">
        <label>Name:</label>
        <input [(ngModel)]="newGarage.name" name="Name">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button (click)="cancelAdd()" class="btn btn-secondary">Cancel</button>
    </form>
  </div>

